@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-image: linear-gradient(to bottom , #FC5E55 , #FA4083);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.8rem;
}

h1{
    font-size: 5.2rem;
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 1.6rem;
}

h2 {
    font-size: 3.2rem;
    font-family: "Playfair Display", sans-serif;
    margin-top: 2rem;
}

p {
    line-height: 1.5;
    margin-bottom: .8rem;
}

svg {
    padding-top: 3rem;
    width: 10rem;
    path {
        fill: white;
    }
}

a {
    color: white;
    text-decoration: none;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 30%;
    min-height: 25rem;
    background-position: bottom;
    text-align: center;
    padding: 3rem 3rem 2rem 3rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}

.card--1{
    background-image: url("images/image-background-card2.jpg");
    background-size: cover;
}
.card--2{
    background-image: url("images/image-background-card3.jpg");
    background-size: cover;
}
.card--3{
    background-image: url("images/image-background-card2.jpg");
    background-size: cover;
}

.main-content{
    flex:2;
    padding-right: 10rem;
}
.main-image{
    flex: 1;
}

.logo {

}

.logo__image{

}

nav{

}


.cards p {
    font-size: 1.36rem;
    line-height: 1.9rem;
    margin-top: 1rem;
}

.cards a {
    text-decoration: none;
    color: white;
}

.button {
    background-color: white;
    color: #FA4083;
    font-family: "Playfair Display", sans-serif;
    padding: 1.1rem 2.5rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 2px;
}

.button-primary {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-in-out;
}

.button-primary:hover {
    transform: translateY(-2px);
}

.button-primary:active {
    transform: translateY(0px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.nav-button {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-family: "Playfair Display", sans-serif;
    padding: 1.1rem 2.5rem;
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.nav-button:hover {
    background-color: white;
    color: #FA4083;
}

.nav-button a {
    color: inherit;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: none;
    padding-top: 1rem;
    text-align: center;
}

.nav-button:hover .dropdown {
    display: block;
}

.dropdown .nav-button {
    width: 20rem;
    background-color: white;
}
.dropdown .nav-button a {
    color: #FA4083;
}

.dropdown .nav-button:hover {
   background-color: #FC5E55;
}
.dropdown .nav-button:hover a {
    color: white;
}
.testimonies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
}

.testimony {
    border: 1px solid lightgray;
    padding: 5rem;
    width: 47%;
    border-radius: 2px;
    margin-top:5rem;
}

/* .testimony :last-child{
    font-size: 1.4rem;
} */

.testimony p:last-of-type{
    font-size: 1.4rem;
    padding-left: 3rem;
}
